<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>正式页面</title>
</head>

<body>
  <div style="width: auto; height: 100%; border: 1px solid #dddddd; margin: 5px; text-align: center;">
    <div style="width: 100%; height: 100%; margin-top: 20px; text-align: center;">
      <table align="center" border="0" cellpadding="0" cellspacing="0" style="margin: 0 auto; font-size: 18px; font-family: Helvetica;"
        width="80%">
        <tbody>
          <tr>
            <td style="border-right: 1px solid #dddddd;" width="18%">
              <div align="center"><a href="https://stores.ebay.co.uk/estore521/Reborn-Baby-Dolls-/_i.html?_sop=12&amp;_fsub=12734998013&amp;LH_BIN=1"
                  style="text-decoration: none; color: #000; background-color: #fff;" target="_blank" rel="noopener noreferrer">Reborn
                  Baby Doll</a></div>
            </td>
            <td style="border-right: 1px solid #dddddd;" width="18%">
              <div align="center"><a href="https://stores.ebay.co.uk/estore521/UK-STOCK-/_i.html?_sop=12&amp;_fsub=58459397013&amp;LH_BIN=1"
                  style="text-decoration: none; color: #000; background-color: #fff;" target="_blank" rel="noopener noreferrer">UK
                  Stock</a></div>
            </td>
            <td style="border-right: 1px solid #dddddd;" width="18%">
              <div align="center"><a href="https://stores.ebay.co.uk/estore521/New-Arrivals-/_i.html?_sop=12&amp;_fsub=58133673013&amp;LH_BIN=1"
                  style="text-decoration: none; color: #000; background-color: #fff;" target="_blank" rel="noopener noreferrer">New
                  Arrivals</a></div>
            </td>
            <td style="border-right: 1px solid #dddddd;" width="18%">
              <div align="center"><a href="https://stores.ebay.co.uk/estore521/Dolls-Accessories-/_i.html?_sop=12&amp;_fsub=12735000013&amp;LH_BIN=1"
                  style="text-decoration: none; color: #000; background-color: #fff;" target="_blank" rel="noopener noreferrer">Dolls
                  Supplies&nbsp;</a></div>
            </td>
            <td width="18%">
              <div align="center"><a href="https://www.ebay.co.uk/usr/estore521?rt=nc" style="text-decoration: none; color: #000; background-color: #fff;"
                  target="_blank" rel="noopener noreferrer">Contact us</a></div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div style="width: 100%; height: 60px; padding-top: 15px;">
      <p style="font-size: 16px; font-family: Helvetica; color: #333333;"><strong>REALISTIC REBORN BABY DOLL FLOPPY HAIR
          LIFELIKE NEWBORN BABY BOY DOLL +CLOTHES</strong></p>
    </div>
    <div align="center" style="width: auto; height: auto;">
      <table align="center" border="0" width="100%">
        <tbody>
          <tr>
            <td align="center">
              <div class="esmall" style="width: 1000px;">
                <img style="width: 320px; margin: 3px;" src="https://image.pushauction.com/0/0/05b12ab5-52a0-4b34-9411-a925bb6e4ddf/4ddfb09b-c618-4286-856f-0c425ba45f5e.jpg">
                <img style="width: 320px; margin: 3px;" src="https://image.pushauction.com/0/0/05b12ab5-52a0-4b34-9411-a925bb6e4ddf/4ddfb09b-c618-4286-856f-0c425ba45f5e.jpg">
                <img style="width: 320px; margin: 3px;" src="https://image.pushauction.com/0/0/05b12ab5-52a0-4b34-9411-a925bb6e4ddf/4ddfb09b-c618-4286-856f-0c425ba45f5e.jpg">
                <img style="width: 320px; margin: 3px;" src="https://image.pushauction.com/0/0/05b12ab5-52a0-4b34-9411-a925bb6e4ddf/4ddfb09b-c618-4286-856f-0c425ba45f5e.jpg">
                <img style="width: 320px; margin: 3px;" src="https://image.pushauction.com/0/0/05b12ab5-52a0-4b34-9411-a925bb6e4ddf/4ddfb09b-c618-4286-856f-0c425ba45f5e.jpg">
                <img style="width: 320px; margin: 3px;" src="https://image.pushauction.com/0/0/05b12ab5-52a0-4b34-9411-a925bb6e4ddf/4ddfb09b-c618-4286-856f-0c425ba45f5e.jpg">
                <img style="width: 320px; margin: 3px;" src="https://image.pushauction.com/0/0/05b12ab5-52a0-4b34-9411-a925bb6e4ddf/4ddfb09b-c618-4286-856f-0c425ba45f5e.jpg">
                <img style="width: 320px; margin: 3px;" src="https://image.pushauction.com/0/0/05b12ab5-52a0-4b34-9411-a925bb6e4ddf/4ddfb09b-c618-4286-856f-0c425ba45f5e.jpg">
                <img style="width: 320px; margin: 3px;" src="https://image.pushauction.com/0/0/05b12ab5-52a0-4b34-9411-a925bb6e4ddf/4ddfb09b-c618-4286-856f-0c425ba45f5e.jpg">
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div>
      <div style="border-bottom: 1px solid #dddddd;">
        <div style="display: block; border-left: 1px solid #dddddd; border-top: 1px solid #dddddd; border-right: 1px solid #dddddd; text-decoration: none; height: 26px; width: 9%; font-size: 16px; font-family: Helvetica Neue; color: #333333; text-align: center; padding-top: 5px; margin-left: 13%;"><strong>Description</strong></div>
      </div>
    </div>
    <div>
      <div style="width: 100%; height: 100%; padding-top: 7px; margin-bottom: 15px; text-align: center;">
        <div style="text-align: left; width: 60%; height: 100%; margin: 0 auto; font-size: 15px; font-family: Helvetica; color: #333;">
          <div typeof="Product" vocab="https://schema.org/">
            <p><span property="description"></span></p>
            <div class="descdiv desc_details">
              <p>
                <strong>Features:</strong>
                <br>Size: Approx. 22 inch / 55 cm&nbsp;
                <br>Clothes: Fits into (0-3 month) Newborn Baby&nbsp;
                <br>Weight: Approximately 3 lb / 1.4 kg.
                <br>Material: Gentle touch vinyl head and limbs and weighted cloth body for a real baby feel, non-toxic and eco-friendly.
                <br>Hair: Floppy hair because of hand
                <strong>rooted Mohair</strong>, naturally similar baby hair.
                <br>Eyelashes: Hand rooted soft dark brown Mohair with a very fine needle and sealed from inside.
                <br>Skin: The baby has a lovely skin tone, mottling, which is after special treatment with multi-layer processes, will not fade.
                <br>Clothes:<strong> Fit 0-3 months Clothes</strong>(this doll can wear the same clothes with your child)
                <br><strong>Usage:</strong>
                <br>1. Festival gifts, Birthday gifts for lovers and kids
                <br>2. Play doll of Children and Grandpa or Grandma Accompany doll
                <br>3. Collection of Young people
                <br>4. For training of Maternity Matron, Nursery, mother-to-be&nbsp;
                <br>5. Props for shooting TV or movie
                <br>
                <br><strong>Package:</strong>
                <br>+1 Pink or Blue <strong>Magnetic Dummy</strong>
                <br>+1 Clothes as picture shown
                <br>+1 Blank Birth Certificate
                <br>+1 <strong>GIFT BOX</strong>
                <br>Please refer to the other doll accessories from picture.&nbsp;
                <br>Please note that deviation exists due to different measuring ways.
                <br>&nbsp;
              </p>
            </div>
            <p>
            </p>
            <p><strong>FAQ:</strong></p>
            <p><span>Q: Does this reborn baby has private part?</span></p>
            <p><span>A: This reborn baby isn't anatomically correct with cloth body. </span></p>
            <p><span>Q: Is this reborn baby made of full vinyl silicone?</span></p>
            <p><span>A: No,his baby body is cloth body, if you need full vinyl doll,please contact us.we have full vinyl doll.</span></p>
            <p><span></span></p>
            <p><span>Q: I want to send this doll as a gift, could you help us to pack it?</span></p>
            <p><span>A: Please don't worry, it has a gift box.</span></p>
            <p></p>
          </div>
        </div>
      </div>
    </div>
    <div>
      <div>
        <div style="border-bottom: 1px solid #dddddd;">
          <div style="display: block; border-left: 1px solid #dddddd; border-top: 1px solid #dddddd; border-right: 1px solid #dddddd; text-decoration: none; height: 26px; width: 9%; font-size: 16px; font-family: Helvetica Neue; color: #333333; text-align: center; padding-top: 5px; margin-left: 13%;">
            <strong>Details</strong>
          </div>
        </div>
      </div>
      <div style="width: auto; height: auto; text-align: center;">
        <center>
          <div>
            <p href="#" border="0">
              <img alt="" class="m_p" src="https://www.cdnclouds.net/p/147077fe5fa3ccb5c858-458feaaa92afbc28043f42d22c5549f2.r42.cf2.rackcdn.com/68e7543808579788a230d13616be392d_EBAY2-01B-1-1.jpg">
            </p>
          </div>
        </center>
        <center>
          <div>
            <p href="#" border="0">
              <img alt="" class="m_p" src="https://www.cdnclouds.net/p/147077fe5fa3ccb5c858-458feaaa92afbc28043f42d22c5549f2.r42.cf2.rackcdn.com/25d7851afc69bfa4afbc76087c7b0572_3.jpg">
            </p>
          </div>
        </center>
      </div>
    </div>
    <style>
      #soldtab main {
        width: 810px;
        margin: 0 auto;
        text-align: center;
      }

      #soldtab section {
        background-color: #ffffff;
        padding-left: 30px;
        display: none;
        overflow: hidden;
      }

      #soldtab input {
        display: none;
      }

      #soldtab label {
        display: inline-block;
        text-align: center;
        background: #ffffff;
        border: 1px solid #dddddd;

        color: #000000;
        font-family: Helvetica;
        font-size: 13px;
        padding: 7px 7px;
        -moz-user-select: none;
        user-select: none;
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
        border-bottom-right-radius: 0px;
        border-bottom-left-radius: 0px;
      }

      #soldtab label:not(:last-child) {
        margin-right: 2px;
      }

      #soldtab label:hover {
        color: #999;
        cursor: pointer;
        border-left: 1px solid #dddddd;
        border-right: 1px solid #dddddd;
        border-top: 1px solid #dddddd;
        border-bottom: 1px solid #fff;
        background: #fff;
      }

      #soldtab input:checked+label {
        background: #fff;
      }

      #tabHeader_1:checked~#policy_box1_text,
      #tabHeader_2:checked~#policy_box2_text,
      #tabHeader_3:checked~#policy_box3_text,
      #tabHeader_4:checked~#policy_box4_text,
      #tabHeader_5:checked~#policy_box5_text {
        display: block;
      }
    </style>
    <div align="center" class="sold_tab" id="soldtab" style="padding-bottom: 10px; padding-top: 5px;">
      <div align="center" style="width: auto; height: auto; text-align: center;">
        <table align="center" style="border: 1px solid #dddddd;" width="74%">
          <tbody>
            <tr>
              <td>
                <main>
                  <input checked="checked" class="tabHeaderi" id="tabHeader_1" name="tabs" type="radio">
                  <label for="tabHeader_1">
                    Payment
                  </label>
                  <input class="tabHeaderi" id="tabHeader_2" name="tabs" type="radio">
                  <label for="tabHeader_2">
                    Shipping
                  </label>
                  <input class="tabHeaderi" id="tabHeader_3" name="tabs" type="radio">
                  <label for="tabHeader_3">Return</label>
                  <input class="tabHeaderi" id="tabHeader_4" name="tabs" type="radio">
                  <label for="tabHeader_4">Customer Service</label>
                  <input class="tabHeaderi" id="tabHeader_5" name="tabs" type="radio">
                  <label for="tabHeader_5">Contact Us</label>
                  <style>
                    .sold_tab label {
                      width: 130px;
                    }
                  </style>
                  <section id="policy_box1_text">
                    <p align="left">
                      <span style="line-height: 1.5;">
                        <span style="font-family: Helvetica;">
                          <span style="font-size: 16px;">1.We ONLY take PayPal, other payment methods are NOT accepted.</span>
                        </span>
                      </span>
                    </p>
                    <p align="left">
                      <span style="line-height: 1.5;"><span style="font-family: Helvetica;">
                        <span style="font-size: 16px;">2.Payment MUST be made within 8 business days after the end of the auction,&nbsp;Or unpaid disputewill be filed to eBay for the non payable bidders.</span>
                        </span>
                      </span>
                    </p>
                  </section>
                  <section id="policy_box2_text">
                    <p align="left">
                      <span style="font-family: Helvetica;">
                        <span style="line-height: 1.5;">
                          <span style="font-size: 16px;">1.We ship to your order address ONLY. Please make sure your shipping address before you pay.</span>
                        </span>
                      </span>
                    </p>
                    <p align="left">
                      <span style="font-family: Helvetica;">
                        <span style="line-height: 1.5;">
                          <span style="font-size: 16px;">2.Item will be sent out within 24-48 hours after clear payment (excluding weekend &amp; holiday).</span>
                        </span>
                      </span>
                    </p>
                  </section>
                  <section id="policy_box3_text">
                    <p align="left" style="font-size: medium; font-family: Helvetica;">
                      <span style="line-height: 1.5;">
                        <span style="font-size: 16px;">
                          <span style="font-family: Helvetica;">1. We can exchange the item within 30 days after you received if it is defective.</span>
                        </span>
                      </span>
                    </p>
                    <p align="left" style="font-size: medium; font-family: Simsun;">
                      <span style="line-height: 1.5;">
                        <span style="font-size: 16px;">
                          <span style="font-family: Helvetica;">2. Returned item must have all original packaging and accessories.</span>
                        </span>
                      </span>
                    </p>
                    <p align="left" style="font-size: medium; font-family: Simsun;">
                      <span style="line-height: 1.5;">
                        <span style="font-size: 16px;">
                          <span style="font-family: Helvetica;">3. We would like to pay the return postage if there is any quality problem.</span>
                        </span>
                      </span>
                    </p>
                    <p align="left" style="font-size: medium; font-family: Simsun;">
                      <span style="line-height: 1.5;">
                        <span style="font-size: 16px;">
                          <span style="font-family: Helvetica;">4. It may take up to 5 business days to process your return after we receive your product.</span>
                        </span>
                      </span>
                    </p>
                    <p align="left">
                      <span style="line-height: 1.5;">
                        <span style="font-size: 16px;">
                          <span style="font-family: Helvetica;">5. If you don't like the item, you can return it to us, but in original box and pay for the shipping
                            postage, we will refund you the item value after we receive the item.
                          </span>
                        </span>
                      </span>
                    </p>
                  </section>
                  <section id="policy_box4_text">
                    <p align="left">
                      <span style="font-family: Helvetica;">
                        <span style="line-height: 1.5;">
                          <span style="font-size: 16px;">1. We will send it as&nbsp;personal gift with&nbsp;low value. But we wouldn't pay&nbsp;any tariff
                            in your country.
                          </span>
                        </span>
                      </span>
                    </p>
                    <p align="left">
                      <span style="font-family: Helvetica;">
                        <span style="font-size: 16px;">2. If you are satisfied with our service, please leave us a 5-star positive feedback.&nbsp;</span>
                      </span>
                    </p>
                    <p align="left">
                      <span style="font-family: Helvetica;">
                        <span style="line-height: 1.5;">
                          <span style="font-size: 16px;">3. We will automatically leave a positive feedback to everyone shopped here and left us positive feedback.</span>
                        </span>
                      </span>
                    </p>
                    <p align="left">
                      <span style="font-family: Helvetica;">
                        <span style="font-size: 16px;">
                          <span style="line-height: 1.5;">4. If you have any questions please contact us before you leave us neutral or negative feedback,
                            we will try our best to resolve the problem, since negative feedback won't help with your problem.
                          </span>
                        </span>
                      </span>
                    </p>
                  </section>
                  <section id="policy_box5_text">
                    <p align="left">
                      <span style="font-family: Helvetica;">
                        <span style="line-height: 1.5;">
                          <span style="font-size: 16px;">1. We are committed to offering excellent customer service.&nbsp;</span>
                        </span>
                      </span>
                    </p>
                    <p align="left">
                      <span style="font-family: Helvetica;">
                        <span style="line-height: 1.5;">
                          <span style="font-size: 16px;">2. If you have any questions about your doll or require other assistance, please contact us during regular business hours to answer your questions.</span>
                        </span>
                      </span>
                    </p>
                    <p align="left">
                      <span style="font-family: Helvetica;">
                        <span style="line-height: 1.5;">
                          <span style="font-size: 16px;">3. Due to the difference of time zone, sometimes the reply to your message will be delayed with
                            24 hours(excluding weekend &amp; holiday),Please understand, thank you.
                          </span>
                        </span>
                      </span>
                    </p>
                  </section>
                </main>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</body>

</html>